.modal-window__content {
  max-width: 400px;
  width: calc(100% - 40px);
  min-width: 200px;
  min-height: 100px;

  padding: 16px 16px 18px 16px;
  background-color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 12px;

  box-sizing: border-box;
  z-index: 10;

  transition: .3s linear;
}