.form__input-submit_is-inactive {
  background-color: rgba(128, 128, 128, .6);
  border: 1px solid rgba(128, 128, 128, .6);
  cursor: not-allowed;
}

.form__input-submit_is-inactive:hover, .form__input-submit_is-inactive:focus, .form__input-submit_is-inactive:active {
  transform: scale(1);
  background-color: rgba(128, 128, 128, .6);
}