@import url(./__calendar/form__calendar.css);
@import url(./__catch-error/form__catch-error.css);
@import url(./__contacts-person/form__contacts-person.css);
@import url(./__contacts-person-item/form__contacts-person-item.css);
@import url(./__input-submit/form__input-submit.css);
@import url(./__input-submit/_is-disabled/form__input-submit_is-disabled.css);
@import url(./__input-text/form__input-text.css);
@import url(./__subtitle-calendar/form__subtitle-calendar.css);
@import url(./__subtitle-contacts-person/form__subtitle-contacts-person.css);
@import url(./__subtitle-input-text/form__subtitle-input-text.css);

.form {
  max-width: 600px;
  width: 100%;
  min-width: 200px;

  display: grid;
  grid-template-areas:
    "form__subtitle-contacts-person form__subtitle-calendar"
    "form__contacts-person form__calendar"
    "form__subtitle-input-text form__subtitle-input-text"
    "form__input-text form__input-text"
    "form__input-submit form__input-submit";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content auto min-content auto 1fr;
  grid-gap: 6px 12px;
  align-items: center;

  padding: 16px;
  border-radius: 12px;
  position: relative;

  background-color: rgba(3, 116, 161, .7);
  box-sizing: border-box;
}

@media (max-width: 360px) {
  .form {
    grid-template-areas:
    "form__subtitle-contacts-person"
    "form__contacts-person"
    "form__subtitle-calendar"
    "form__calendar"
    "form__subtitle-input-text"
    "form__input-text"
    "form__input-submit";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}